USE [master]
GO
/****** Object:  Database [SupermarketDB]    Script Date: 4/16/2026 8:08:14 PM ******/
CREATE DATABASE [SupermarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SupermarketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SupermarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SupermarketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SupermarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SupermarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SupermarketDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/16/2026 8:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B8DC9BF0F3] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/16/2026 8:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF1F5BF367C] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/16/2026 8:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [nvarchar](20) NOT NULL,
	[OrderID] [nvarchar](10) NOT NULL,
	[ProductID] [nvarchar](10) NOT NULL,
	[UnitPrice] [decimal](10, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [decimal](10, 0) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D30C7523B777] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/16/2026 8:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](10) NOT NULL,
	[CustomerID] [nvarchar](10) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BAF2BCFE06D] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/16/2026 8:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](10) NOT NULL,
	[CategoryID] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 0) NOT NULL,
	[Stock] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Products__B40CC6EDCD2689E8] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Address], [Status]) VALUES (N'C001', N'Nguyễn Thành Nam', N'0901234567', N'Quận 1, TP.HCM', 1)
INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Address], [Status]) VALUES (N'C002', N'Trần Thị Mai', N'0912345678', N'Quận 7, TP.HCM', 1)
INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Address], [Status]) VALUES (N'C003', N'Lê Hoàng Long', N'0983456789', N'Thủ Đức, TP.HCM', 1)
GO
INSERT [dbo].[Employees] ([EmployeeID], [Name], [Phone], [Position], [Status]) VALUES (N'E001', N'Trần Gia Kiệt', N'0911112222', N'Cửa hàng trưởng', 0)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [Phone], [Position], [Status]) VALUES (N'E002', N'Nguyễn Thu Hà', N'0922223333', N'Thu ngân chính', 0)
INSERT [dbo].[Employees] ([EmployeeID], [Name], [Phone], [Position], [Status]) VALUES (N'E003', N'Lý Mạnh Khôi', N'0933334444', N'Nhân viên kho', 1)
GO
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitPrice], [Quantity], [TotalAmount], [Status]) VALUES (N'DT001', N'OR001', N'P001', CAST(28000 AS Decimal(10, 0)), 2, CAST(56000 AS Decimal(10, 0)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitPrice], [Quantity], [TotalAmount], [Status]) VALUES (N'DT002', N'OR001', N'P003', CAST(4500 AS Decimal(10, 0)), 10, CAST(45000 AS Decimal(10, 0)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitPrice], [Quantity], [TotalAmount], [Status]) VALUES (N'DT003', N'OR002', N'P004', CAST(190000 AS Decimal(10, 0)), 1, CAST(190000 AS Decimal(10, 0)), 1)
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [Status]) VALUES (N'OR001', N'C001', CAST(N'2026-04-01T08:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [Status]) VALUES (N'OR002', N'C002', CAST(N'2026-04-01T09:15:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [Status]) VALUES (N'OR003', N'C003', CAST(N'2026-04-01T10:00:00.0000000' AS DateTime2), 1)
GO
INSERT [dbo].[Products] ([ProductID], [CategoryID], [Name], [Price], [Stock], [Status]) VALUES (N'P001', N'CAT01', N'Sữa tươi Vinamilk 1L', CAST(28000 AS Decimal(10, 0)), 150, 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [Name], [Price], [Stock], [Status]) VALUES (N'P002', N'CAT01', N'Sữa chua TH True Milk', CAST(7500 AS Decimal(10, 0)), 200, 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [Name], [Price], [Stock], [Status]) VALUES (N'P003', N'CAT02', N'Mì tôm Hảo Hảo chua cay', CAST(4500 AS Decimal(10, 0)), 500, 1)
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__OrderDat__403A8C7D]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__44FF419A] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__44FF419A]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__412EB0B6] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Customer__412EB0B6]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK__Products__Price__3A81B327] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK__Products__Price__3A81B327]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK__Products__Stock__3B75D760] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK__Products__Stock__3B75D760]
GO
USE [master]
GO
